version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: api_bancaria_db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: api_bancaria
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: